@headBackgroud: #2DBD9C;
@contentBackground: #fff;
@generealBorder: #b7b7b7;
@textColorDefault: #fff;
@images: "/form/style/images";

/**
 * gradients
 */
.gradient-1 {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.gradient-2 {
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom, #efefef 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e5e5e5',GradientType=0 );
}
.gradient-3 {
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #efefef 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(99%,#efefef));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#efefef 99%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#efefef 99%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#efefef 99%);
	background: linear-gradient(to bottom, #e5e5e5 0%,#efefef 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#efefef',GradientType=0 );
}
.gradient-4 {
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2)); 
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%); 
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e2e2e2 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%,#e2e2e2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e2e2e2',GradientType=0 );
}
/**
 * end
 */

/**
 * border class
 */
.borderTop {
	border-top: 1px @generealBorder solid;
	border-bottom: 1px @generealBorder solid;
}
/**
 * end
 */

/**
 * FORM BUILDER UI
 */
html, body {
	height: 100%;
	background: #ccc;
}

#formWrapper {
	height: 100%;
	width: 100%;
}

#formTopBar {
	background: #ddd;
	height: 40px;
	width: 100%;
	border-bottom: 1px #bbb solid;
	box-shadow: 0px 1px 5px #bbb;
}
	#formTopBarContent {
		text-align: right;
		padding: 5px;
	}

#formBuilder {
	margin-top: 30px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
	#formBuilderLeft {
		width: 400px;
		float: left;
	}
	#formBuilderRight {
		float: left;
	}

.formWidgetContainer {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	background-color: @contentBackground;
	min-height: 150px;
}
	.formWidgetContainerHead {
		background-color: @headBackgroud;
		height: 30px;
		text-align: center;
		color: @textColorDefault;
		font-weight: bold;
		padding-top: 5px;
	}
	.formWidgetContainerContent {
		padding: 10px;
	}

#formBuildGrid {
	width: 800px;
	background-color: @contentBackground;
	background: url('@{images}/bg.png');
	min-height: 800px;
	position: relative;
}

#formBuildGridPreview {
	width: 800px;
	background-color: @contentBackground;
	min-height: 800px;
	position: relative;
}

#formFooter {
	text-align: center;
	height: 100px;
	opacity: 0.5;
	margin-left: auto;
	margin-right: auto;
}
	#formFooterContent {
		padding-top: 40px;
		text-shadow: 1px 1px 0px #fff;
		border-bottom: 1px #777 solid;
		box-shadow: 0px 1px 0px #fff;
	}

.form-ui-input {
	border: none;
	border: 1px #ccc solid;
}
.alertForm {
	border-color: red;
	border-size: 2px;
	box-shadow: 0px 0px 5px red;
}
.form-ui-button {
	border: 1px #aaa solid;
	padding: 3px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial;
	font-size: 14px;
	.gradient-1;
	&:hover {
		.gradient-2;
	}
	&:focus {
		.gradient-3;
	}
}

#trashBin {
	position: absolute;
	z-index: 900;
	left: 50%;
	margin-left: -45px;
	top: 20px;
	padding: 20px;
	width: 90px;
	cursor: pointer;
	opacity: 0.5;
	display: none;
	background-color: #ccc;
	&:hover {
		background-color: #D68284;
	}
}

@import "../css/windows.less";

@import "../css/table.less";

.whitebox {
	background-color: @contentBackground;
	border: 1px #aaa solid;
	&:hover {
		.deleteBox {
			display: block;
		}
	}
}
.whiteboxContent {
	padding: 10px;
}

.input {
	width: 400px;
	min-height: 100px;
	background-color: #fff;
	border: 1px #ccc solid;
}
	.inputHead {
		background-color: @headBackgroud;
		height: 30px;
		color: @textColorDefault;
		font-weight: bold;
		padding-top: 5px;
		cursor: default;
		padding-left: 10px;
	}
	.inputContent {
		padding: 20px;
	}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
#PaginationContent {
	opacity: 0.7;
	margin-left: 10px;
	.pg {
		width: 35px;	
		height: 30px;
		float: left;
		border: 1px #ccc solid;
		border-left: none;	
		padding-top: 5px;
		cursor: pointer;
		text-align: center;
		a, a:visited {
			color: #000;
			text-shadow: 1px 1px 0px #eee;
			font-weight: none;
			text-decoration: none;
		}
		&:first-child { border-left: 1px #ccc solid; }
		&:hover { background-color: #eee; }
	}

	.pga {
		background-color: #efefef;
		cursor: default;
	}
}

#previewContent {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-left: 750px;
	margin-top: 70px;
}
.editButton {
	text-align: center; 
	margin-top: 80px; 
	color: #fff; 
	font-weight: bold; 
	font-size: 48px; 
	cursor: pointer;
}

#availablePictures {
	.imgBoxImg {
		opacity: 0.5;
		cursor: pointer;
		.deleteImage {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 20;
			display: none;
			color: #990000;
		}
		&:hover {
			opacity: 1;
			.deleteImage { display: block; }
		}
	}
}

.restoreClass {
	color: red;
	&:focus {
		color: red;
	}
}

#autosave {
	z-index: 800;
	bottom: 0;
	right: 0;
	position: fixed;
	color: #fff;
	background-color: #666;
	padding: 15px;
	border-top-left-radius: 15px;
	opacity: 0.5;
}

.dropDownCell {
	background-color: #ccc;
}
#contextMenu {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 200px;
	display: none;
}
#contextMenuHead {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 200px;
	display: none;
}

.list-group > a.disabled {
  color: #999999;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
}
