
.tableName {
	background-color: @headBackgroud;
	height: 33px;
	color: @textColorDefault;
	font-weight: bold;
	padding-top: 7px;
	cursor: default;
	padding-left: 10px;
	&:first-letter {
		text-transform: uppercase;
	}
}
.tablehead {
	.gradient-4;
	height: 36px;
	text-align: center;
	padding-top: 4px;
	border-right: 1px @generealBorder solid;
	&:hover {
		color: red;
		cursor: pointer;
		border-color: red;
	}
}

.tableCollum {
	float: left;
}

.tablecol {
	float: left;
	padding-right: 5px;
	height: 34px;
	text-align: center;
	padding-top: 6px;
	border-right: 1px @generealBorder solid;
	&:hover {
		color: red;
		border-color: red;
		cursor: pointer;
	}
}
.table {
	border-bottom: 1px @generealBorder solid;
	background-color: #fff;
}
	.hoverMenu {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 800;
		display: none;
		width: 90px;
		height: 40px;
		background-color: #ccc;
		border-top-right-radius: 10px;
		opacity: 0.8;
		.borderTop;
	}
	.addTableRow {
		width: 30px;
		padding: 2px;
		padding-left: 4px;
		font-size: 18px;
		background-color: @headBackgroud;
		border-radius: 10px;
		height: 30px;
		color: @textColorDefault;
		text-align: center;
		margin-top: 5px;
		margin-left: 10px;
		cursor: pointer;
		float: left;
	}
	.removeTableRow {
		width: 30px;
		padding: 2px;
		font-size: 18px;
		background-color: #a90329;
		border-radius: 10px;
		height: 30px;
		color: @textColorDefault;
		text-align: center;
		margin-top: 5px;
		margin-left: 10px;
		cursor: pointer;
		float: left;
	}

	.hoverMenuRight {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 800;
		display: none;
		width: 50px;
		height: 80px;
		background-color: #ccc;
		border-top-left-radius: 10px;
		.borderTop;
		opacity: 0.8;
	}
	.addTableCol {
		width: 30px;
		padding: 2px;
		padding-left: 4px;
		font-size: 18px;
		background-color: @headBackgroud;
		border-radius: 10px;
		height: 30px;
		color: @textColorDefault;
		text-align: center;
		margin-top: 5px;
		margin-left: 10px;
		cursor: pointer;
	}
	.removeTableCol {
		width: 30px;
		padding: 2px;
		font-size: 18px;
		background-color: #a90329;
		border-radius: 10px;
		height: 30px;
		color: @textColorDefault;
		text-align: center;
		margin-top: 5px;
		margin-left: 10px;
		cursor: pointer;
	}

.table:hover {
	.hoverMenu {
		display: block;
	}
	.hoverMenuRight {
		display: block;
	}
}
.editAssetTable {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #fff;
	cursor: pointer;
	&:hover {
		color: #ccc;
	}
}
