#overlay {
	background: url('@{images}/overlay.png');
	width: 100%;
	height: 100%;
	z-index: 990;
	position: absolute;
	top: 0;
	left: 0;
}
	#overlayContainer {
		position: fixed;
		top: 50%;
		margin-top: -183px;
		min-width: 300px;
		left: 50%;
		margin-left: -150px;
		box-shadow: 0px 5px 5px #888;
		z-index: 999;
	}
	#overlayHead {
		background-color: @headBackgroud;
		height: 30px;
		text-align: center;
		color: @textColorDefault;
		font-weight: bold;
		padding-top: 5px;
		cursor: default;
	}
	#overlayContent {
		min-width: 280px;
		padding: 10px;
		background-color: @contentBackground;
	}
#windowBoxes {
	z-index: 991;
	position: fixed;
	top: 50%;
	margin-top: -150px;
	min-width: 300px;
	left: 50%;
	margin-left: -150px;
}
	.windowBoxWrapper {
		min-width: 300px;
		border: 1px #ccc solid;
		min-height: 150px;
		background-color: @contentBackground;
		box-shadow: 0px 2px 5px #ccc;
	}
		.windowBoxHead {
			background-color: @headBackgroud;
			height: 30px;
			text-align: center;
			color: @textColorDefault;
			font-weight: bold;
			padding-top: 5px;
			cursor: default;
		}
		.windowBoxContent {
			min-width: 280px;
			padding: 10px;
		}

		.windowBoxButtons button {
			border: none;
			border: 1px #ccc solid;
			background-color: #eee;
			padding-left: 10px;
			padding-right: 10px;
			margin-right: 10px;
		}
.list-group-item:hover {
	background-color: #f5f5f5;
}

#windowAlerts {
	top: 50px;
	z-index: 999;
	position: absolute;
	right: 10px;
	width: 400px;
}
